body {
    background-color: #32353B;
}

.text-white {
    margin-top: 70px;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-page-content {
    margin-top: 50px;
    text-decoration: none;
    margin-left: 25%;
}

.text-down {
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-title {
    color: white;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-copy {
    margin-top: 70px;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#list  p {
    font: arial;
    font-size: 50px;
    background-color: white ;
}